# Makefile propre
Makefile.in

# Application build
gpio_SAM3X8E

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# tempory files
*.*~

# Executables
*.exe
*.out
*.app
